






<div class="container">

    <h2 class="mb-4">
      {{ isEditMode ? 'Modifier une Box' : 'Créer une nouvelle Box' }}
    </h2>

    <!-- FORMULAIRE -->
    <form (ngSubmit)="submitForm()" class="mb-5">

      <div class="row">
        <div class="col-md-4">
          <input type="number"
                 class="form-control"
                 placeholder="Numéro"
                 [(ngModel)]="boxForm.numero"
                 name="numero"
                 required>
        </div>

        <div class="col-md-4">
          <input type="number"
                 class="form-control"
                 placeholder="Étage"
                 [(ngModel)]="boxForm.etage"
                 name="etage"
                 required>
        </div>

        <div class="col-md-4">
          <input type="number"
                 class="form-control"
                 placeholder="Prix actuel"
                 [(ngModel)]="boxForm.prixActuel"
                 name="prixActuel"
                 required>
        </div>
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary me-2">
          {{ isEditMode ? 'Mettre à jour' : 'Créer' }}
        </button>

        <button *ngIf="isEditMode"
                type="button"
                class="btn btn-secondary"
                (click)="resetForm()">
          Annuler modification
        </button>
      </div>

    </form>

    <!-- LISTE -->
    <h3>Liste des Box</h3>

    <table class="table table-bordered table-striped mt-3">
      <thead>
        <tr>
          <th>Numéro</th>
          <th>Étage</th>
          <th>Prix</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let box of boxes">
          <td>{{ box.numero }}</td>
          <td>{{ box.etage }}</td>
          <td>{{ box.prixActuel }} Ar</td>
          <td>
            <span [ngClass]="{
              'text-success': box.statut === 'libre',
              'text-danger': box.statut === 'occupee'
            }">
              {{ box.statut }}
            </span>
          </td>
          <td>
            <button class="btn btn-sm btn-warning me-2"
                    (click)="editBox(box)">
              Modifier
            </button>

            <button class="btn btn-sm btn-danger"
                    (click)="deleteBox(box._id!)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>